page-signup {

}
.item-md.item-block .item-inner {
    padding-right: 0px;
    border-bottom: 1px solid #dedede;
}

.text-input-md {
    margin:0px;
    width:100%;
}

input {
    border: solid 1px #8d8a8a !important;
    padding: 9px !important;
}

.item-md.item-block .item-inner {
    padding-right: 0px;
    border-bottom:none;
}

.item-md {
    padding-left: 0px;
}
.item-block {
    min-height: 1.5rem;
}

.sign-btn {
    margin-top: 20px;
    margin-bottom: 21px;

}
.btn-border {
    border-radius: 5px;
}
hr {
    height: 3px;
}

.label-md {
    margin: 0;
}


element {

}
ion-label[fixed] {

    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100px;
    -ms-flex: 0 0 100px;
    flex: 0 0 100px;
    width: 100px;
    min-width: 100px;
    max-width: 200px;

}
.label-md {

    margin: 0;

}
.label-md {

    margin: 13px 8px 13px 0;

}
ion-label {
    overflow: visible;
}

ion-select {
    max-width: 100%;
    width: 100%;
    border: 1px solid gray;
    padding: 9px !important;
}
ion-content#welcome1 {
    margin-top: 0!important;
}
ion-content#welcome1 {
    margin-top: 0!important;
}

ion-item {
    padding: 0!important;
    margin: 0!important;
}

button {
    font-weight: 800;
    font-size: 22px!important;
    padding: 10px!important;
    height: 50px!important;
}

.item-inner {
    border: none!important;
    width: 100%!important;
    padding: 0!important;
    margin: 0!important;
}