p.adrs {
    font-size: 16px!important;
    font-weight: 600!important;
    line-height: 1.4!important;
}
.call-warning-text {
    background: red;
    padding-bottom: 20px!important;
}

.call-warning-text button {
    background: #fff!important;
    color: red;
    max-width: 90%!important;
    margin: 0 auto!important;
    text-align: center!important;
    display: block;
    padding-bottom: 10px!important;
}